// COLORS
$grey: #666666;
$grey-button: #888888;
$dark-grey: #333333;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
// FONT SIZES
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// DIMENTIONS
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;